---
---

// Text
$section-headings-color: #0A1428 !default;
$body-text-color: #1E2328 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #005A82 !default;
$header-bg-color-secondary: #0A323C !default;

// .title-and-image {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   text-align: center;
// }

.page-header {
  background-image: url("../img/banner.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32vw !important;
  text-align: center;
}

.project-name {
    font-size: 3vw !important;
    margin-top: 4vh !important;
    margin-bottom: 30px !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.clip {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

// /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
// @media screen and (min-width: 601px) {
//   h1 {
//     font-size: 80px;
//   }
// }

// /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
// @media screen and (max-width: 600px) {
//   h1 {
//     font-size: 30px;
//   }
// }

@import "cayman";
